<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Mathematical Expressions in Python
- Markdown Language

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikitlearn
3. ggplot
4. seaborn
5. tensorflow

Some Data Science tools
| Data Science Tools       |
|--------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

addition
a = 5 + 3  (Result: 8)

subtraction
b = 10 - 4  (Result: 6)

multiplication
c = 7 * 6  (Result: 42)

floating-point division
d = 15 / 3  (Result: 5.0)

In [2]:
#This is a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

hours = 200 / 60

print (hours)

3.3333333333333335

<H2>Author</H2>
Walter (Lee) Duncan